@model List<Student>
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

@{
    foreach (var st in Model)
    {
        <h2>Std_ID: @st.StdID</h2>
        <h2>Std_Name: @st.Name</h2>
        <h2>Std_Gender: @st.Gender</h2>
    }
}