@{
    // Layout = "_Layout"; 
    //it doesn't have full path but it connects all the views
    // I will comment the Layout property in other page and use this page to connect _Layout.cshtml to all the views

    // if(User.IsInRole("Admin")){         IsInRole is a method 
    //     Layout = "Admin_Layout";
    // }else{
    //     Layout = "User_Layout";
    // }
}

@* <span>Thi is the Content of: </span> *@
@* <h2> _ViewStart.cshtml file, which connects all the views</h2> *@
