<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="color: red; background-color: yellow">
        <h1>This will be My Header Portion</h1>
    </header>
    

        @RenderBody() //pointing the child classes, it will reneder the code in the child pages


    <footer style="color: brown; background-color: deepskyblue ">
            <h2>This is footer Portion</h2>
        </footer>
</body>
</html>
