@model Student 


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class=" col-sm-4">

            <div asp-validation-summary = "All" style="color: red"></div>
            <form asp-controller="Home" asp-action="Index" method="post">

                @* <label asp-for="Name"></label> *@
                <input asp-for="Name" class="form-control" placeholder="Enter Name"/>
                @* <span asp-validation-for="Name" style="color: red"></span> *@
                <br/>

                @* <label asp-for="Email"></label> *@
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                @* <span  ="Email" style="color: red"></span> *@
                <br />

                @* <label asp-for="Age"></label> *@
                <input asp-for="Age" class="form-control" placeholder="Enter Age" />
                @* <span asp-validation-for="Age" style="color: red"></span> *@
                <br />

                @* <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="Password" style="color: red"></span>
                <br />

                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Conform Password" />
                <span asp-validation-for="ConfirmPassword" style="color: red"></span>
                <br />

                <label asp-for="URL"></label>
                <input asp-for="URL" class="form-control" placeholder="Enter URL" />
                <span asp-validation-for="URL" style="color: red"></span>
                <br />

                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter your Description">

                </textarea><br />
                <span asp-validation-for="Description" style="color: red"></span> *@


                <input type="submit" value="Submit"  class="btn btn-outline-primary"/>
            </form> 



        </div>
    </div>
</div>
